
{% extends 'layout.html' %}


{% block title %} About Us {% endblock %}


{% block links %} 

<li><a class="nav-link scrollto  " href="{% url 'main:main_page' %}">Home</a></li>
<li><a class="nav-link scrollto active" href="{% url 'main:about_page' %}">About Us</a></li>
<li><a class="nav-link scrollto" href="{% url 'main:contact_page' %}">Contact Us</a></li>
<li><a class="nav-link scrollto" href="{% url 'blogs:blogs_page' %}">Blogs</a></li>

{% endblock %}


{% block content %} 
  <!-- ======= About Section ======= -->
  <div id="about" class="about-area mb-5 pb-5 ">
    <div class="container padding-main">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2 class="">About Proventus</h2>
          </div>
        </div>
      </div>
      <div class="row ">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <img src="/assets/img/logo.png" alt="about_img"  class="w-100">
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12 mt-md-5 mt-0">
          <div class="well-middle">
            <div class="single-well">
              <p>
                {% if company.about %}
                  {{company.about}}
                {% else %}
                  {% lorem 2 %}
                {% endif %}
              </p>

            </div>
          </div>
        </div>
        <!-- End col-->
      </div>


      
    </div>
  </div><!-- End About Section -->
  {% endblock %}
