
{% extends 'layout.html' %}


{% block title %} Contact Us {% endblock %}


{% block links %} 

<li><a class="nav-link scrollto " href="{% url 'main:main_page' %}">Home</a></li>
<li><a class="nav-link scrollto " href="{% url 'main:about_page' %}">About Us</a></li>
<li><a class="nav-link scrollto active" href="{% url 'main:contact_page' %}">Contact Us</a></li>
<li><a class="nav-link scrollto " href="{% url 'blogs:blogs_page' %}">Blogs</a></li>
{% endblock %}


{% block content %} 

<div id="contact" class="contact-area mb-5 pb-5">
  <div class="contact-inner padding-main">
    <div class="contact-overly"></div>
    <div class="container ">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Contact us</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-md-3 col-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-phone"></i>
              <p>
                {{company.phone}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-envelope"></i>
              <p>
               {{company.email}}
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-geo-alt"></i>
              <p>
                {% comment %} {% for add in address %}
                  {{add}}<br>
                {% endfor %} {% endcomment %}
                {{company.address}}
                {% comment %} Location: A108 Adam Street<br>
                <span>NY 535022, USA</span> {% endcomment %}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- Start  contact -->
        <div class="col-lg-10 col-md-12 col-12">
          <div class="form contact-form">
            <form action="{% url 'main:contact_page' %}" method="post" role="form" >
              {% csrf_token %}
              
                {% if notify.message %}
                <div class="alert alert-{{notify.class}} text-{{notify.class}} text-center"> 
                    {{notify.message}}
                </div>
                {% endif %}
             
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="text-center p-4">
                <button type="submit" class="btn btn-main-outline">Send Message</button>
              </div>
            </form>
          </div>
        </div>
        <!-- End Left contact -->
      </div>
    </div>
  </div>
</div><!-- End Contact Section -->

  {% endblock %}
