
{% extends 'layout.html' %}
{% block title %} Home {% endblock %}

{% block links %} 
<li><a class="nav-link scrollto active" href="{% url 'main:main_page' %}">Home</a></li>
<li><a class="nav-link scrollto" href="{% url 'main:about_page' %}">About Us</a></li>
<li><a class="nav-link scrollto" href="{% url 'main:contact_page' %}">Contact Us</a></li>
<li><a class="nav-link scrollto" href="{% url 'blogs:blogs_page' %}">Blogs</a></li>
{% endblock %}


{% block content %} 

  
  <!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/assets/img/hero-carousel/design.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">UI/UX Design</h2>
                <p class="animate__animated animate__fadeInUp">Designing Tomorrow's Experiences</p>
                <a href="#about" class="btn btn-main scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(/assets/img/hero-carousel/social.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Social Media Management</h2>
                <p class="animate__animated animate__fadeInUp">Your Social Media Success Starts Here</p>
                <a href="#about" class="btn btn-main scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(/assets/img/hero-carousel/telecome.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Seamless Telecom Solutions</h2>
                <p class="animate__animated animate__fadeInUp">Your Gateway to Uninterrupted Connectivity</p>
                <a href="#about" class="btn btn-main scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2 class="animate-on-scroll">About Proventus</h2>
            </div>
          </div>
        </div>
        <div class="row " >
          <!-- single-well start-->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/assets/img/logo.png" alt="about_img"  class="w-100 animate-on-scroll">
          </div>
          <!-- single-well end-->
          <div class="col-md-6 col-sm-6 col-xs-12 mt-md-4 mt-0">
            <div class="well-middle">
              <div class="single-well">
                {% comment %} <a href="#">
                  <h4 class="sec-head">project Maintenance</h4>
                </a> {% endcomment %}
                <p class="animate-on-scroll">
                  {% if company.about %}
                    {{company.about}}
                  {% else %}
                    {% lorem 2 %}
                  {% endif %}
                </p>
              </div>
              <div class="text-center text-md-start">
                <a class="btn btn-main-1 animate-on-scroll" href="{% url 'main:about_page' %}">Read More</a>
              </div>
            </div>
          </div>
          <!-- End col-->
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <div id="services" class="services-area area-padding mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center animate-on-scroll">
              <h2 >Our Services</h2>
            </div>
          </div>
        </div>
        <div class="row text-center animate-on-scroll">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <img src="/assets/services/digital.png" class="img-fluid" style="width:3rem"/>
                  </a>
                  <h4 class="text-primary">Digital Solutions</h4>
                  <p >  
                     We offer a diverse range of innovative services designed to elevate your digital presence and drive success in the ever-evolving digital landscape. 
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" >
                    {% comment %} <i class="bi bi-card-checklist"></i> {% endcomment %}
                    <img src="/assets/services/ux-design.png" class="img-fluid" style="width:3rem"/>
                  </a>
                  <h4 class="text-primary">UI/UX</h4>
                  <p>
                    Our design solutions seamlessly blend aesthetics and functionality, ensuring a captivating and intuitive digital journey for your audience.                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" >
                    <img src="/assets/services/social-media.png" class="img-fluid" style="width:3rem"/>
                  </a>
                  <h4 class="text-primary">Social Media Management </h4>
                  <p>
                    From strategic content creation to engagement analytics, we'll help you build a compelling brand narrative and foster meaningful connections in the digital realm.                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" >
                    <img src="/assets/services/web-design.png" class="img-fluid" style="width:3rem"/>
                  </a>
                  <h4 class="text-primary">Design</h4>
                  <p>
                    From captivating visuals to intuitive interfaces, we craft engaging designs that resonate with your audience and leave a lasting impression.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon">
                    <img src="/assets/services/telecome.png" class="img-fluid" style="width:3rem"/>
                  </a>
                  <h4 class="text-primary">Telecom Services</h4>
                  <p>
                    We provide a robust suite of services, from network optimization to advanced communication solutions, ensuring that your connectivity needs are met with reliability and innovation.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->

        </div>
      </div>
    </div><!-- End Services Section -->



    <!-- ======= Rviews Section ======= -->
    <div class="reviews-area" style="background: url(/assets/img/contact/contact.jpg);">
      <div class="row g-0">
        <div class="col-lg-12 work-right-text  text-center">
          <div class="px-5 py-5 py-lg-0 animate-on-scroll">
            <h2>working with us</h2>
            <h5>Design, UI/UX, Social Media, and Telecome Solutions.</h5>
            <a href="{% url 'main:contact_page' %}" class="btn btn-main scrollto">Contact us</a>
          </div>
        </div>
      </div>
    </div><!-- End Rviews Section -->

    <!-- ======= Portfolio Section ======= -->
    {% comment %} <div id="portfolio" class="portfolio-area area-padding fix">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Our Portfolio</h2>
            </div>
          </div>
        </div>
        <div class="row wesome-project-1 fix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row awesome-project-content portfolio-container">

          <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-app portfolio-item">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/assets/img/portfolio/1.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/1.jpg">
                      <h4>Business City</h4>
                      <span>Web Development</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/assets/img/portfolio/2.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/2.jpg">
                      <h4>Blue Sea</h4>
                      <span>Photosho</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-card">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/assets/img/portfolio/3.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/3.jpg">
                      <h4>Beautiful Nature</h4>
                      <span>Web Design</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/assets/img/portfolio/4.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/4.jpg">
                      <h4>Creative Team</h4>
                      <span>Web design</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-app">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/assets/img/portfolio/5.jpg" alt="" /></a>
                <div class="add-actions text-center text-center">
                  <div class="project-dec">
                    <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/5.jpg">
                      <h4>Beautiful Flower</h4>
                      <span>Web Development</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 portfolio-item filter-web">
            <div class="single-awesome-project">
              <div class="awesome-img">
                <a href="#"><img src="/assets/img/portfolio/6.jpg" alt="" /></a>
                <div class="add-actions text-center">
                  <div class="project-dec">
                    <a class="portfolio-lightbox" data-gallery="myGallery" href="assets/img/portfolio/6.jpg">
                      <h4>Night Hill</h4>
                      <span>Photoshop</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> {% endcomment %}
    <!-- End Portfolio Section -->

  
   

    <!-- ======= Blog Section ======= -->
    <div id="blog" class="blog-area">
      <div class="blog-inner area-padding">
        <div class="blog-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center animate-on-scroll">
                <h2>Latest Blogs</h2>
              </div>
            </div>
          </div>
          <div class="row animate-on-scroll">
            <!-- Start Left Blog -->
            {% for post in posts %}
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="{% url 'blogs:blog_details' pk=post.id %}">
                      {% if post.image  %}
                          <img src="{{post.image.url}}" alt="post_{{post.title}}" class="blog-img">
                      {% endif %}  
                  </a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">{{post.comments.count}} comments</a>
                  </span>
                  <span class="date-type">
                    <i class="fa fa-calendar"></i>{{post.created_at}} 
                  </span>
                </div>
                <div class="blog-text">
                  <h4 >
                    <a href="{% url 'blogs:blog_details' pk=post.id %}" class="text-primary">{{post.title}}</a>
                  </h4>
                  <p>
                    {% comment %} {{post.content}} {% endcomment %}

                    {{ post.content|slice:":150" }}{% if post.content|length > 150 %}...{% endif %}

                  </p>
                </div>
                {% comment %} <span>
                  <a href="blog.html" class="btn btn-main-outline">Read more</a>
                </span> {% endcomment %}
              </div>
              <!-- Start single blog -->
            </div>
            <!-- End Left Blog-->
            {% endfor %}
        
          </div>
        </div>
        <div class="text-center p-3">
            <a  class="btn btn-main-outline animate-on-scroll" href="{% url 'blogs:blogs_page' %}">View All</a>
        </div>
      </div>

    </div><!-- End Blog Section -->

    <!-- ======= Suscribe Section ======= -->
    {% comment %} <div class="suscribe-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
            <div class="suscribe-text text-center">
              <h3>Welcome to our Company</h3>
              <a class="btn btn-white ms-4 p-2" href="#">Get A quote</a>
            </div>
          </div>
        </div>
      </div>
    </div> {% endcomment %}
    <!-- End Suscribe Section -->

   

  </main><!-- End #main -->

  <div id="preloader"></div>

  {% endblock %}
